body {
  font-family: sans-serif;
  text-align: center;
  background-color: #fff8f2;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffdfd3;
  padding: 20px;
}

nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #a0522d;
  font-weight: bold;
}

section {
  padding: 20px;
}

form input, form select, form button {
  padding: 10px;
  margin: 10px;
  font-size: 1em;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  margin-top: 20px;
}
